
.ide{
    -fx-font-size: 12px;
    -fx-font-family: "JetBrains Mono";
}

#java-editor{
    -fx-font-size: 12px;
    -fx-font-family: "JetBrains Mono";
}

.keyword {
    -fx-fill: blueviolet;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: hotpink;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: seagreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: seagreen;
}

.comment {
	-fx-fill: slategrey;
}
